/*Teal text*/
.teal_font {
	color: #4aaaa5;
}

/*Teal background*/
.teal_background {
	background: #4aaaa5;
}

/*White text*/
.white_font {
	color: #ffffff;
}

/*White background*/
.white_background {
	background: #ffffff;
}

/*Grey text*/
.grey_font {
	color: #777777;
}

/*Line separating main header with the body*/
.header_border {
	border-bottom: 1.5px solid #cccccc;
}

/*Footer background*/
.footer_background {
	background: #666666;
}

/*.content_border {
	border: 1px solid #dddddd;
}*/

/*Fonts for header*/
.heading_fonts {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

/*Fonts for normal text*/
.regular_fonts {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/*Font size of contact form labels (i.e. name, email, message)*/
.form_label_font {
	font-size: 13px;
}

/*Preparation for sticky footer*/
html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.main {
	background: #ffffff;
	flex: none; /*to make sure the entire header cannot be shrunk*/
	border-bottom: 1.5px solid #cccccc;
	overflow: auto;
}

.header_1 {
	float: left;
	font-size: 24px;
	font-weight: bold;
	margin-left: 100px;
	padding: 20px 30px;
}

.main_options {
	float: right;
	margin-right: 30px;
	padding: 20px;
}

.about_portfolio_contact {
	padding: 20px;
	text-decoration: none;
}

a:link {
	color: #777777;
}

a:hover {
	color: #4aaaa5;
}

.body_block {
	background-image: url("../images/background_image.png");
	clear: both;
	flex: 1 0 auto; /*to make the body flexible to grow or shrink*/
	overflow: auto;
}

.header_2 {
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
}

.body_border {
	border: 1px solid #dddddd; 
	float: left;
	margin-bottom: 30px;
	margin-left: 100px;
	margin-top: 30px;
	padding: 30px;
	width: 600px;
}

.body_content_hr {
	border: 1.5px solid #dddddd;
}

.body_about_content {
	line-height: 150%;
	padding-top: 10px;
}

.profile_image {
	float: left;
	height: 200px;
	margin-top: 5px;
	margin-right: 20px;
	-webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 200px;
}

.body_connect {
	border: 1px solid #dddddd; 
	float: left;
	margin-left: 50px;
	margin-top: 30px;
	padding: 30px;
	width: 200px;
}

.header_3 {
	padding-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
}

.body_connect_hr {
	border: 1px solid #dddddd;
}

.body_connect_content {
	padding-top: 10px;
}

.body_connect_icons {
	float: left;
	height: 28%;
	width: 28%;
	padding: 5px;
}

.footer {
	border-top: 4px solid #4aaaa5;
	clear: both;
	color: #bbc0c9;
	font-size: 10px;
	padding: 30px;
	text-align: center;
	width: 100%;
}

.body_contact_content {
	padding-top: 15px;
}

.form_customization_1 {
	border: 1px solid #dddddd;
	box-sizing: border-box;
	color: #777777;
	margin: 10px 0px;
	padding: 8px;
	width: 100%;
}

.form_customization_2 {
	border: 1px solid #dddddd;
	box-sizing: border-box;
	color: #777777;
	margin: 10px 0px;
	padding: 8px;
	width: 100%;
}

.form_style input[type=submit] {
	border: none;
	box-shadow: none;
	font-size: 14px;
	padding: 10px 20px;
}

.form_style input[type=submit]:hover {
	background-color: #777777;
	cursor: pointer;
}

.form_style input::-webkit-input-placeholder {
	color: #bbc0c9;
}

.left {
	float: left;
	padding-right: 2.5%;
	width: 47.5%;
}

.left_images {
	height: 200px;
	padding-top: 10%;
	width: 100%;
}

.right {
	float: left;
	padding-left: 2.5%;
	width: 47.5%;
}

.right_images {
	height: 200px;
	padding-top: 10%;
	width: 100%;
}

.relative {
	position: relative;
}

.absolute {
	padding: 10px 0px;
	position: absolute;
	top: 80%;
	text-align: center;
	width: 100%;
}
